body{
    background-color: tan;
    margin: 0px;
    padding: 0px;
}

.menu-image{
    width: 200px;
    height: 100px;
}

#content{
    justify-content: center;
    text-align: center;
}

p{
    font-size: larger;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: brown;
    height: 50px;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    align-items: center;
    height: 50px;
}

li{
    display: flex;
    height: 40px;
    align-items: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.contact-image {
    width: 50px;
    height: 50px;
}

.myImage{
    width: 500px;
    height: 300px;
}